.bg_test-text {
    border:  solid 1px;                             /* 枠線指定 */
    display:  inline-block;                         /* インラインブロックにする */
    padding: 10px 20px;                             /* 余白指定 */
    background-color: #f0faa7;     /* 背景色指定 */
}
.bg_test {
    background-image: url(https://inuma-manabu.github.io/inuma-manabu.josai.math.kyoshoku.io/KC3Z0083.JPG);
}
